html,body{
    height: 100%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.h{
    color: #ff4419;
    font-weight: bold;
    font-size: larger;
}
nav ul{
    align-items: center;
}
nav ul li{
    cursor: pointer;
    list-style: none;
    padding:0 18px ;
}
.upper{
    text-transform: uppercase;
}
.left{
    flex-direction: column;
    gap: 10px;
}
.l1{
    justify-content: flex-start;

}
.right{
    gap: 10px;
   justify-content: flex-end;
}
.ll{
    margin-left: -150px;
}
.logo{
    font-size: xx-large;
    display: flex;
    gap: 10px;
    margin-left: -140px;
}

mx-2{
    margin-left:20px ;
    margin-right:20px ;
}
.container{
    max-width: 80vw;
    margin:auto ;
}
.items-center{
    justify-content: center;
    align-items: center;
}
.s{
    background: #ff4419;
    color: white;
    border: 12px solid #ff4419;
    
}
.flex {
    display: flex;
}
.main{
    background-color: #cbced8;
    min-height: 80%;
    display: flex;
    flex-direction: column;  
    align-items: center;
}
.subtitle{
    color: #030303;
    margin-bottom: 10px;
    font-size: 30px;
}
 .cards{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
 .card{
    background: #fff;
    height: 200px;
    width: 200px;
    padding: 20px;
    border: 4px solid #000000 ;
    box-shadow: 10px 10px;
}

.card button{
    background: #1d78f0;
    display: block;
    color: white;
    border: none;
    margin: 15px auto  auto; 
    padding: 10px;
    
    
}

.footer-text{
    text-align: center;
    padding: 5px;
    color: black;
    font-size: 40px;
}
.footer-subtext{
    text-align: center;
    color: gray;
    font-size: 18px;
    padding:3px;
}
.link{
    text-align: center;
    color: #1d78f0;
    font-size: 18px;
    cursor: pointer;
    padding: 0 0 40px 0;
}
.text{
    text-align: center;
    margin: 30px 0;
}
.small-text{
    font-size: 14px;
    color: #1a1818;
    font-weight: bolder;
}
.a1{
    color: #4358b8 ;
}
.a2{
    color: #075627 ;
}
.a3{
    color: #d84400 ;
}
.a4{
    color: #1372aa ;
}
.a5{
    color: #206f3d ;
}
.card-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header{
    padding: 30px 0;
}




