* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    height: 100%;
}

.flex {
    display: flex;
}

.left img {
    margin: 10px;
    width: 40px;
    height: 40px;
}

header {
    padding: 20px auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav ul li {
    list-style: none;

}

.left {
    margin-right: auto;
    align-items: center;
}

.right {
    margin-left: auto;
    align-items: center;
    justify-content: center;
}

.gap {
    justify-content: flex-start;
    gap: 20px;
}

.s1 {
    color: white;
    background-color: #0976a7;
    padding: 10px 10px;
    border-radius: 5px;

}

.pad {
    padding: 10px 10px;
}

.container {
    max-width: 99vw;
    margin: auto;
}

/*
nav 
*/
.l1 {
    display: flex;
    flex-direction: row;
    text-align: left;

}

.m1 {
    background-color: #0976a7;
    padding: 100px 60px;
    width: 45%;

}

.quote {
    line-height: 1.7;
    margin-bottom: 40px;
}

.author {
    display: flex;
    align-items: center;
    gap: 15px;
}

img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.r1 {
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.c {
    color: #e90606;
}
.google{
    width: 400px;
    height:40px;
    border:gray 1px solid;
    border-radius: 5px;
    background: white;
    color: gray;
    padding: 10px;
}
.apple{
    padding: 10px;
    width: 200px;
    height:40px;
    border:gray 1px solid;
    border-radius: 5px;
    background: white;
    color: black;
}
.fb{
    padding: 10px;
    width: 200px;
    height:40px;
    border:gray 1px solid;
    border-radius: 5px;
    background: white;
    color: black;
}
.or {
    text-align: center;
    margin: 15px 0;
    color: #777;
}
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid #eff1f3;
    background: #eff1f3;
}
.signin-btn{
    width: 100%;
    padding: 10px;
    background-color: #e90606;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.forgot{
   font-size: 14px;
    margin-left: 250px;
    text-align: right;
    color: #e90606;
   
}
.main{
    margin-top:15px;
}