html,
body {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.containerh{
    max-width: 80vw;
    margin: auto;
}
.flex{
    display: flex;
}
ul{
    display: flex;
    gap: 100px;
    list-style: none;
}
a{
    text-decoration: none;
    color:#87929A ;
}
.upper{
    text-transform: uppercase;
}
.right{
    margin-left: auto;  
}
header{
    padding: 20px 0;
    border-bottom: 1px solid #E1E4E8;
}
.container{
    max-width: 100vw;
    margin: auto;
    
}
.searchbox{
    width: 50%;
    margin: auto;
    padding: 100px 0;
    text-align: center;
}
input{
    width: 700px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 2px;
    font-size: 16px;
}
button{
    padding: 20px;
    border: none;
    background-color: #FF545A;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.textcenter{
    text-align: center;
    color: white;
}
main{
    min-height: 80vh;
    background-image: url("bg.jpg");
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    padding-top: 80px;
   
}
img{
    width: 40px;
    height: 40px;
    
}
.cards{
    margin-top: -100px;
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 40px 0;
}
.card{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    background-color: white;
    box-shadow: rgb(36, 30, 30) 0px 0px 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap: 20px;
    
}
.card p{
    font-size: 18px;
    color: #87929A;
}
.searchbox button {
    margin-left: 30px; 
}
