html,body{
    height: 100;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container{
    max-width: 100vw;
    margin: auto;
}
.flex{
    display: flex;
}
.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}
img{
    width: 50px;
    height: 50px;
}
.card{
    width: 30%;   
    box-shadow: gray 2px 2px 10px;
    border-radius: 5px;
    padding: 20px 10px;
    text-align: center;
}

.containerh{
    max-width: 100vw;
    margin: auto

}
.nav-bar{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    box-shadow: gray 2px 2px 10px;
}
ul{
    list-style: none;
}
/* TOP BAR */
.top-bar{
    background: #0b3c74;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 40px;
}

.top-left{
    display: flex;
    align-items: center;
    gap: 110px;
}

.top-left h2 span{
    color: orange;
}

.top-right{
    display: flex;
    gap: 10px;
}
.nav-bar{
    background: #083567;
    padding: 15px 0;
}

.nav-bar ul{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 80px;
    margin: auto;
    color: #fff;

}