* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    height: 100%;
}
header{
    box-shadow: gray 0px 5px 5px;
    padding: 10px 0;
}
.container{
    max-width: 80vw;
    margin: auto;

  
}
.flex{
    display: flex;
}
ul{
    list-style: none;
}
button{
    cursor: pointer;
    border: none;
    background-color: green;
    border-radius: 5px;
    color: white;
    padding: 10px 15px;
}
a{
    text-decoration: none;
    color: black;
}
.righth {
    margin-left: auto; 
}
.r1{
    margin: 10px 10px 10px 0;
    gap: 20px;
}
a:hover {
 color: green;
}
ul li{
   padding: 10px 15px;
}
.main{
    margin: 30px ;
}
/*img{
    max-width: 100%;
    height: 500px;
}*/
.left p{
    margin: 20px 0;
    color : gray;
}
.b1{
    background-color: rgb(33, 231, 188);

}
.left{
    margin-top: 200px;;
    align-items: center;
}
footer{
    background-color: rgb(6, 177, 134);
    padding: 20px 0;
    margin-top: 50px;
    gap: 30px;
    text-align: center;
    color: white;
}
input{
width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
}
.foot{
    margin: auto;

}
.logo{
    color:  rgb(3, 119, 90);
}


