html,
body {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 80vw;
    margin: auto;
}

header {
    background-color: rgb(32, 30, 30);

    padding: 20px 0;

}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: orange;
    font-weight: bolder;
    font-size: 26px;
    margin-left: 20px;
}

ul {
    list-style: none;
    gap: 30px;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 25px;
}
button{
    background-color: orange;
    color :white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}



.cards{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 60px 60px 0 60px;
}
.card{
    
    box-shadow: gray 0px 0px 10px;
    padding: 80px 40px;
    border-radius: 10px;
}

.main{
    padding: 20px 0px;
    height: 100%;
    margin-top: 80px;
    border-radius: 10px;
}

img{
    width: 20%;
    height: 20%;
}

.l1{
    margin-left: 120px;
    padding: 20px 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.l1 img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
}
.card1{
    background-color: orange ;
    padding: 10px 30px;
    border-radius: 10px;
    text-align: center;
}

.r1{
     margin-left: 60vh;
}


.stats{
    display: flex;
    gap: 30px;
    margin-top: 30px;
}


.stat-card{
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 15px 25px;
    border-left: 4px solid orange;
    background: #fff;
}

.stat-card h1{
    color: orange;
    font-size: 36px;
}

.stat-card span{
    color: gray;
    font-size: 14px;
}

/* READ MORE BUTTON */
.read-btn{
    margin-top: 30px;
}