html,body{
    height: 100%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.h{
    color: #ff4419;
    font-weight: bold;
    font-size: larger;
}
nav ul{
    align-items: center;
}
nav ul li{
    cursor: pointer;
    list-style: none;
    padding:0 18px ;
}
.upper{
    text-transform: uppercase;
}
.ll{
    margin-left: -150px;
}
.logo{
    font-size: xx-large;
    display: flex;
    gap: 10px;
    margin-left: 30px;
}

.container{
    max-width: 100vw;
    margin:auto ;
}
.s{
    background: #ff4419;
    color: white;
    border: 12px solid #ff4419;  
}
.flex {
    display: flex;
}

.right{
    margin-left: auto;
    
}

header{
    padding: 30px 0;
    box-shadow: gray 0px 0px 10px;
}




