html,body{
    height: 100%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 80vw;
    margin: auto;
 
}
.flex{
    display: flex;
}
ul{
    list-style: none;
    gap: 30px;
padding: 20px;
    display: flex;
}
.logo{
    color: orange;
    font-weight: bolder;
    font-size: 26px;
    padding: 20px;
}
.right{
    margin-left: auto;
    
}
a{
    text-decoration: none;
    color: white;
}
nav{
    background-color: rgb(9, 6, 41);
    padding: 15px 0;
}
button{
    margin: 0 20px;
    padding: 20px 50px;
    border: none;
    background-color: orange;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bolder;
}