* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


.top-bar {
    background: #063970;
    padding: 12px 0;
    color: #fff;
}

.top-container {
    width: 95%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

.logo span {
    color: #4fd1ff;
}

.info {
    display: flex;
    gap: 25px;
    font-size: 14px;
}

.social {
    display: flex;
    gap: 10px;
}

.social a {
    background: #0aa1dd;
    color: #fff;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 50%;
    font-size: 14px;
}


.main-nav {
    background: #042f5f;
    padding: 14px 0;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.menu a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

.menu a:hover {
    color: #4fd1ff;
}

.login {
    display: flex;
    align-items: center;
    gap: 6px;
}
