* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f3f4f6;
}


.container {
    display: flex;
    min-height: 100vh;
}


.sidebar {
    width: 20%;
    background-color: #0d2136;
    color: white;
    padding: 15px;
}

.sidebar h2 {
    background-color: #234161;
    padding: 20px 10px;
}

.s1 {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
}

/* Main area */
.main {
    width: 80%;
    padding: 20px;
}

/* Header */
.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.top input {
    padding: 10px;
    width: 300px;
    border-radius: 20px;
    border: none;
}

/* Cards */
.cards {
    display: flex;
    gap: 25px;
    margin-bottom: 40px;
}

.card {
    width: 320px;
    height: 180px;
    background: #fff;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.card-header {
    padding: 20px;
    color: #fff;
}

.card-header h3 {
    font-size: 17px;
    margin-bottom: 6px;
}

.card-header p {
    font-size: 14px;
}

.g1 { background: linear-gradient(to right, #b73a2f, #7dff00); }
.g2 { background: linear-gradient(to right, #e11d48, #d97706); }
.g3 { background: linear-gradient(to right, #556b2f, #4b4f8c); }

.card-body {
    padding: 18px;
}

.bar {
    height: 7px;
    background: #e5e7eb;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
}

.fill { height: 100%; }
.f1 { width: 75%; background: #14b8a6; }
.f2 { width: 45%; background: #ec4899; }
.f3 { width: 90%; background: #2563eb; }

.info {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    color: #555;
}

/* Upcoming section */
.ti {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}

.schedule {
    display: flex;
    gap: 30px;
}

.event {
    flex: 1;
    padding: 30px;
    color: white;
    border-radius: 12px;
}

.orange { background: linear-gradient(90deg, #a1abbb, #ff723b); }
.cyan   { background: linear-gradient(90deg, #7b2ff7, #f107a3); }
.purple { background: linear-gradient(90deg, #0d9e19, #182597); }

.time {
    font-size: 12px;
}

.dec {
    display: inline-block;
    margin-top: 8px;
    padding: 4px 12px;
    background: rgba(255,255,255,0.85);
    color: black;
    border-radius: 12px;
    font-size: 11px;
    font-weight: bold;
}
